.collabcollege
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
    justify-content: center;
}
.collabcollege *
{
    border-radius: 20px;
    height:200px;
}
.colleges h1 
{
    font-size: 60px;
    text-align:center;
    font-family: "Jost", sans-serif;
    margin:30px;
    width:100%;
}
.colleges
{
    margin: 50px;
    width:100%;
}