@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
.wrapper
{
    position:relative;
}
.content
{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.6);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
    opacity:0;
    transition: 0.6s;
}
.content:hover{
    opacity:1;
}
.wrapper .content h1{
    font-size:120px;
    color:#F6E6CB;
}
.wrapper .content h3{
    font-size: 30px;
    color:white;
    margin:0px 50px 0px 50px;
}
.wrapper .content    .ApplyButton
{
    margin:30px;
    border-radius: 10px;
    height:50px;
    width:140px;
    font-size:20px;
    font-family: "Roboto Slab", serif;
    background-color: #DBB5B5;
    color:black;
    border:1px solid black;
    font-weight:500;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.wrapper .content    .ApplyButton:hover
{
    background-color:#028391;
}
@media (max-width:800px)
{
    .content h1,h3
    {
        font-size:10px !important;
    }
    .wrapper .content    .ApplyButton
    {
        height:30px !important;
    width:50px!important;
    font-size:5px !important;
    }
    .wrapper
    {
        margin-top:50px;
        margin-bottom:50px;
    }
}