
.Eventsimage
{
    position:relative;
}
.Eventsus
{
    display:block;
    margin:auto;
    width:100vw;
}
.Eventscontent
{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    background: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    opacity:1;
}
.Eventscontent > h1
{
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight:500;
    font-size:150px;
    text-decoration: underline;
    text-decoration-thickness:3px;
}
.Eventspage > h3{
    font-size:35px;
    
    text-align:center;
    font-family: "Quicksand", sans-serif;
    margin: 100px 0px 20px 0px;
    font-weight:3000;
}
.Eventspage > h1{
    text-align:center;
    font-size:60px;
    font-family: "Quicksand", sans-serif;
    font-weight:1000;
    margin:0px 0px 50px 0px;
}

.Eventspicelement
{
    width:fit-content;
    background-color: white;
    border-radius: 10px;
}
.Eventspicelement > h3
{
    width:540px;
    font-family: "Quicksand", sans-serif;
    padding: 20px 0px 10px 10px;
    font-weight: 1000;
}
.Eventspicelement > p
{
    width: 540px;
    font-size:20px; 
    font-family: "Jost", sans-serif;
    padding: 0px 20px 20px 10px;
}
.Eventspics
{
    display:flex;
    flex-direction:row;
    gap:60px;
    flex-wrap:wrap;
    justify-content: center;
}
.Eventspage 
{
    padding-top:100px;
}
@media (max-width:800px){
    .Eventscontent > h1
    {
        font-size:80px;
    }
    .Eventspics .Eventspicelement img,p,h1
    {
        width:50%;
        height:50%;
    }
    .Eventspics .Eventspicelement p
    {
        width:auto;
    }
}